CREATE DATABASE [InboxDB]
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [InboxDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [InboxDB]
GO
/****** Object:  Table [dbo].[Email]    Script Date: 11/8/2021 2:57:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Email](
	[Email_ID] [int] IDENTITY(1,1) NOT NULL,
	[Sender] [varchar](250) NOT NULL,
	[Subject] [varchar](100) NULL,
	[Content] [varchar](250) NULL,
	[Label_ID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Email_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Inbox]    Script Date: 11/8/2021 2:57:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Inbox](
	[Username] [varchar](250) NOT NULL,
	[Email_ID] [int] NOT NULL,
	[Status] [varchar](10) NULL,
 CONSTRAINT [PK_UserEmail] PRIMARY KEY NONCLUSTERED 
(
	[Username] ASC,
	[Email_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Label]    Script Date: 11/8/2021 2:57:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Label](
	[Label_ID] [int] IDENTITY(1,1) NOT NULL,
	[Description] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Label_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 11/8/2021 2:57:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[Username] [varchar](250) NOT NULL,
	[Password] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Email]  WITH CHECK ADD FOREIGN KEY([Label_ID])
REFERENCES [dbo].[Label] ([Label_ID])
GO
ALTER TABLE [dbo].[Email]  WITH CHECK ADD FOREIGN KEY([Sender])
REFERENCES [dbo].[User] ([Username])
GO
ALTER TABLE [dbo].[Inbox]  WITH CHECK ADD FOREIGN KEY([Email_ID])
REFERENCES [dbo].[Email] ([Email_ID])
GO
ALTER TABLE [dbo].[Inbox]  WITH CHECK ADD FOREIGN KEY([Username])
REFERENCES [dbo].[User] ([Username])
GO
USE [master]
GO
